* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}
body {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: auto;
  background-color: white;
}
*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body{
   font-family: sans-serif;
}
nav{
  height: 80px;
  width: 100%;
  background-color:#159895;
  margin-bottom: 40px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
label.logo{
  color: white;
  text-align: left;
  padding: 0 100px;
  font-size: 35px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 80px;
  font-weight: bold;
}
nav ul{
  float: right;
  margin-right: 20px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a {
  color: white;
  cursor: pointer;
  padding: 7px 13px;
  font-size: 13px;
  border-radius: 3px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 5px;
}
.active,a:hover{
  background-color: #57C5B6;
  margin: auto;
  transition: 0.5s;
}

.info-display {
  margin: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
h1 {
  text-align: center;
  background-color: #002b5b;
  padding: 20px;
  border-radius: 10px;
  text-transform: capitalize;
  color: azure;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  border: 3px solid #159895;
  cursor: auto;
}
.info-display div {
  padding: 2rem;
  margin: 0.5rem;
  background-color: #1a5f7a;
  border-radius: 10px;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: larger;
  color: azure;
  border: 3px solid #159895;
  cursor: pointer;
}
.ill {
  transform: scale(1.1);
}
.extra-info {
  padding: 2rem;
  margin: 0.5rem;
  display: block;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: small;
  color: azure;
  background-color: #002b5b;
  border: 3px solid #159895;
}
.photo {
  width: 50;
  height: auto;
  padding-top: 25px;
}
.extra-info span,
p {
  font-size: medium;
  font-weight: bold;
}
h3{
  font-size: large;
  padding-bottom: 10px;
  font-weight: bolder;
}
